step2_weather.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
 					name="weather"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
					xmlns:tns="http://www.example.org/weather/"
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					targetNamespace="http://www.example.org/weather/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/weather/">
      <!-- Date -->
    <xs:element name="date" type="xs:date"/>
      <!-- Location (GPS) -->
      <xs:element name="location">
  	<xs:complexType>
  	  <xs:sequence>
  		<xs:element name="longitude" type="xs:decimal"/>
  		<xs:element name="latitude" type="xs:decimal"/>
  	  </xs:sequence>
  	</xs:complexType>
    </xs:element>
    <!-- Temperature (°C) -->
      <xs:element name="temperature" type="xs:decimal"/>
      <!-- Wind Speed (km/h) -->
      <xs:element name="wind" type="xs:decimal"/>
      <!-- Humidity (%) -->
      <xs:element name="humidity" type="xs:decimal"/>
      <!-- Sky = {sunny, cloudy, fog} -->
    <xs:element name="sky">
  	<xs:simpleType>
  	  <xs:restriction base="xs:string">
  		  <xs:enumeration value="sunny"/>
  		  <xs:enumeration value="cloudy"/>
  	    <xs:enumeration value="fog"/>
  	  </xs:restriction>
  	</xs:simpleType>
    </xs:element>
            <xsd:element name="getWeatherFault" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>

</wsdl:definitions>
